html {
    height: 100%;
}

body {
    margin-top: 50px;
    background: none;
    min-height: 100%;
}

.img-profile {
    width: 200px;
}

#content {
    padding: 50px;
    color: #000;
}

.top-space {
    margin-top: 10px;
}

tr, th {
    color: #000;
}

caption {
    font-size: x-large;
}

span.glyphicon-star-empty {
    color: #000;
}

#locMap {
    height: 300px;
}
