html {
    height: 100%;
}

body {
    margin-top: 50px;
    min-height: 100%;
}

.img-profile {
    width: 200px;
    opacity: 0.9;
}

ul {
    padding: 0;
}

ul li {
    display: inline;
}

ul li a i {
    color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-top: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

ul li a i:hover {
	opacity: .4;
}
