html {
    height: 100%;
}

body {
    margin-top: 50px;
    min-height: 100%;
}

.img-profile {
    width: 200px;
}

#content {
    padding: 50px;
    color: #777777;
}

.top-space {
    margin-top: 10px;
}

tr, th {
    color: #777777;
}

caption {
    font-size: x-large;
}

span.glyphicon-star-empty {
    color: #777777;
}

#locMap {
    height: 300px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}
